/* CSS Document */


header {padding:1em}
form {padding:0.5em; width:75%; margin:0 auto;}
form input {display:block; padding:0.5em; width:100%; margin:0 auto; margin-bottom:1em;}
form button {display:block; width:100%;}
